/* BODY */
.container{
  margin: 40px 0px 40px 0px;
}
.nav-container{
  width: 100%;
}
.nav{
  color: blue;
  text-align: center;
}
li{
  display: inline-block;
}


p, button{
  padding: 0px 10px 0px 10px;
}
/* IMAGES */
.main-content{
  background-image: linear-gradient(white, white, red, white);

}
body{
  background-image: linear-gradient(black,white,white,white);
}
img,video{
  border-radius: 5px;
}

/* MEDIA QUERIES */
@@media query() {

}
